<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>thesortage</title>
    <link rel="stylesheet" href="static/css/style.css?ver=1269" />
    <meta name="format-detection" content="telephone=no" />
  </head>
  <body>
    <div class="wrapper-def">
      <div class="upload-receipt">
        <img class="upload-receipt__img" src="./static/photos/receipt.png" />
        <h1 class="upload-receipt__title">Загрузите чек</h1>
        <p class="upload-receipt__text">
          Прикрепите квитанцию перевода из приложения банка.<br />Если квитанции
          нет, прикрепите скриншот перевода.
        </p>
        <a class="upload-receipt__btn block-checkout__btn btn-pink"
          ><span>Загрузить</span></a
        >
      </div>
    </div>
    <script src="static/js/main.js?ver=1269"></script>
  </body>
</html>
